.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner__circle {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-top-color: #00ff9f;
  animation: spin 0.8s linear infinite;
}

.spinner--small .spinner__circle {
  width: 16px;
  height: 16px;
  border-width: 1.5px;
}

.spinner--medium .spinner__circle {
  width: 24px;
  height: 24px;
  border-width: 2px;
}

.spinner--large .spinner__circle {
  width: 32px;
  height: 32px;
  border-width: 3px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}